<nav class="navbar">

<div class="container navbar-container">

<a href="index.html" class="logo">

Market

</a>

<ul class="nav-links">

<li>
<a href="index.html">
Home
</a>
</li>

<li>
<a href="shop.html">
Shop
</a>
</li>

<li>
<a href="wishlist.html">
Wishlist
</a>
</li>

<li>
<a href="orders.html">
Orders
</a>
</li>

<li>
<a href="profile.html">
Profile
</a>
</li>

<li>

<a href="cart.html">

Cart

<span id="cartCount">

0

</span>

</a>

</li>

<li id="loginMenu">

<a href="login.html">

Login

</a>

</li>

<li id="logoutMenu" style="display:none;">

<a href="#" onclick="logout()">

Logout

</a>

</li>

</ul>

</div>

</nav>